<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular Basics</title>
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
  <main ng-app="SigmanautApp" ng-controller="SigmanautController as sigmanaut">
    <section class="container">
      <h1>Sigmanaut's angular list</h1>
      <h3>Add a new person</h3>
      <form class="col-md-12">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="sigmanaut.newPerson.firstName" placeholder="First Name"/>
        </div>
        <!-- What other fields do we need to ask for in order to get the information we need? -->
      </form>
    </section>
    <section class="container">
      <h3>Class List</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat=""> <!-- What needs to be repeated? -->
          <!-- TODO: Create a list item for everyone in the class -->
          {{person.firstName}}<!-- include the other parameters for the person -->
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
