<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular Basics</title>
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
  <main ng-app="SigmanautApp" ng-controller="SigmanautController as sigmanaut">
    <section class="container">
      <h1>Sigmanaut's angular list</h1>
      <h3>Add a new person</h3>
      <form class="col-md-12">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="sigmanaut.newPerson.firstName" placeholder="First Name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" ng-model="sigmanaut.newPerson.lastName" placeholder="Last Name"/>
        </div>
        <div class="form-group col-md-6">
          <label for="username">Github Username</label>
          <input type="text" name="username" class="form-control" ng-model="sigmanaut.newPerson.git_username" placeholder="Github Username"/>
        </div>
        <div class="form-group col-md-6">
          <label for="shoutout">Shoutout</label>
          <input type="text" name="shoutout" class="form-control" ng-model="sigmanaut.newPerson.shoutout" placeholder="Shout Out"/>
        </div>
        <div class="col-md-12 form-group">
          <button type="submit" class="btn btn-primary pull-right" ng-click="sigmanaut.createPerson()">Submit</button> <!-- Which function needs to be called on click? -->
        </div>
      </form>
    </section>
    <section class="container">
      <h3>Class List</h3>
      <input ng-model="sigmanaut.searchText" class="form-control">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="person in sigmanaut.people | filter: { firstName: sigmanaut.searchText }"> <!-- What needs to be repeated? -->
          <!-- TODO: Create a list item for everyone in the class -->
          <a ng-href="https://github.com/{{person.git_username}}">{{person.firstName}} {{person.lastName}} - {{person.shoutout}}</a><!-- include the other parameters for the person -->
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
